{{#paper-form onSubmit=(action "save") as |form| }}
  <div class="layout-row">
    <div class="layout-column flex-100">
      {{form.input label="Name" value=model.name onChange=(action (mut model.name))}}
      {{#paper-select
        label="Scope"
        options=scopes
        selected=model.scope
        onChange=(action (mut model.scope))
        as |scope|}}
        {{scope.name}}
      {{/paper-select}}      
    </div>
  </div>
  <div class="layout-row">
  <p>Prizes</p>
  {{multiselect-checkboxes
      options=prizeList
      labelProperty='name'
      selection=model.prizes
      onchange=(action 'updateSelection')}}
  </div>
  <div class="layout-row">
    {{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}}
  </div>
{{/paper-form}}
