
<div class="layout-row">
	<div class="layout-column flex-100">
		{{input value=model.name}}
		{{input type="number" value=model.stock}}
	</div>
</div>
<div class="layout-row">
	<a {{action 'save'}}>Guardar</a>
</div>
