

{{#paper-list}}

  {{#paper-subheader}}Premios{{/paper-subheader}}
  {{#each model as |prize|}}
    {{#paper-item as |controls|}}
      {{#link-to 'prizes.show' prize.id}}
      	{{prize.name}}
      {{/link-to}}
	    <div class="md-secondary-container">

        {{prize.type.name}}

		    {{#link-to 'prizes.edit' prize.id}}
		 		{{#paper-button primary=true}}
		 			{{paper-icon "create"}}
		 			Editar
		 		{{/paper-button}}
			{{/link-to}}
 		</div>
    {{/paper-item}}
    {{paper-divider}}
  {{/each}}


{{/paper-list}}

{{#link-to 'prizes.new' }}
  {{#paper-button raised=true primary=true}}Crear Nuevo premio{{/paper-button}}
{{/link-to}}